html{
	--top-bottom-margin: 50px;
		background-color: teal;
}



.header{
	position: relative;
	text-align: center;
	
	max-width: 500px;
	margin: 0 auto;
	margin-top: var(--top-bottom-margin);
	
	background-color: bisque;
	padding: 20px;
	border-radius: 20px;
}

.header-quote {
	color: black;
	font-family: 'Roboto', sans-serif;
}

.author, .quote-author{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	position: absolute;
	left: 30px;
	bottom: 0;
}

.quote-author{
	font-size: 12px;
	bottom: 10px;
}

.quote-container{
	position: relative;
	background-color: white;
	
	height: 170px;
	margin: 0 auto;
	margin-top: var(--top-bottom-margin);
	max-width: 500px; 
	border-radius: 8px;

}


.quote-text{
	color: maroon;
	text-align: center;
	padding: 20px;
}

button{
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 80px;
	height: 40px;
	background-color: antiquewhite;
}

